extends layout

block content
    div.card
        div.header
            h1 创建新的文档
            p(class="small-text") 请悉知分享的文章无法由用户主动删除
        form(action="/create", method="post").content
            p
              label 文章标题：
              input(type="text", name="title")
            p
              label 为这篇文章添加密码：
              input(type="text", name="password")
            p
              textarea(name="content")
            input(type="submit", value="确认创建文档").button
        div.footer
            p Copyright 2016 Note |
                a(href="https://github.com/ss098/note")  查看 GitHub