extends layout

block content
  div.card
    div.header
      h1 #{title}
      p(class="small-text") #{date}
    div.content
      p !{content}
    div.footer
      a(href="create") 分享属于我的文档
      a(href="/" + _id + "/qrcode")  | 获得这篇文章的二维码
      p Copyright 2016 Note |
        a(href="https://github.com/ss098/note")  查看 GitHub