extends layout

block content
    div.card
        div.header
            h1 查看具有密码的文档
            p.small-text 如果您输入正确的密码并提交后，刷新页面需要重新输入密码
        form(action="/" + _id, method="post").content
            label 密码：
            div
              input(type="text", name="password").border-right-none
              input(type="submit", value="确认").button
        div.footer
            p Copyright 2016 Note |
                a(href="https://github.com/ss098/note")  查看 GitHub